@model IEnumerable<AzureDBApp.Models.DiscountEntity>

@{
    ViewData["Title"] = "Index";
}

<h1>Discount</h1>

<style>
    body {
        caret-color: transparent;
    }
</style>

<p>
    <a asp-action="Create">Create New</a>
</p>

<link href="https://cdn.datatables.net/v/bs4/dt-1.13.6/datatables.min.css" rel="stylesheet">
<script src="https://cdn.datatables.net/v/bs4/dt-1.13.6/datatables.min.js" defer="defer"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css" rel="stylesheet">

<script type="text/javascript">
    $(document).ready(function () {
        $('#tbllist').DataTable();
    });
</script>

<table id ="tbllist" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BeginDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiscountPercentage)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @(item.Product.Name + ", " + item.Product.Manufacturer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BeginDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiscountPercentage)%
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DiscountId">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.DiscountId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
